:root{
    --text-color:red;
}

img {
    width:200px;
    border-radius: 10px;
    transition:transform 0.3s ease;
}

img:hover {
    transform:scale(1.1);
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    color:firebrick;
    
}

header{
    border: 3px solid black;
    margin: 10px;
    padding-bottom: 10px;
    color:var(--text-color)
}
footer{
    border:3px solid black;
    margin: 10px;
    padding: 10px;
    color: var(--text-color);
}

@keyframes ani {
    0% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}
#pfp {
    animation-name: ani;
    animation-duration: 3s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}

.bodbody{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

.boat{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}